@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Code Test for Plus Consulting</h1>
</div>

<div class="row">
    <p> Add list of what functionality has been provided.</p>
</div>



