@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Code Test for Plus Consulting</h1>
</div>

<div class="row">
    <h3>List of what functionality has been provided.</h3>
    <ul>
        <li>
            Data Grid View
            <ul>
                <li>Can expand or constrict the number of rows listed.</li>
            </ul>
        </li>
        <li>
            Pagination
        </li>
        <li>
            Sorting
        </li>
        <li>
            Column Filtering
        </li>
        <li>
            Adding New Data with Field Validation
        </li>
        <li>
            Updating existing Data
            <ul>
                <li>
                    <b>To Update:</b> Double click on a field in a row, change value and hit the "Enter" key.
                </li>
            </ul>
        </li>
    </ul>

    <p><b>Note:</b>&nbsp; The credentials for the database connectionstring need to be changed for your instance. </p>
</div>



